body {
background-color: aliceblue;
}

.title {
border-style: solid;
border-width: 4px;
text-align: center;
}

.p1 {
width: 50%;
}

.imageContainer {
justify-content: center;
display: flex;
flex-wrap: wrap;
width: 50%;
}

.img1 {
width: 200px;
height: 200px;
}

.img2 {
width: 200px;
height: 200px;
}

.img3 {
width: 350px;
height: 200px;
}

.grp1, .grp2, .grp3 {
    border-style: solid;
    border-width: 4px;
    text-align: center;
}

.sideText {
    border-style: solid;
    border-width: 4px;
    position: absolute;
    left: 55%;
    right: 5%;
    margin-top: -140px;
    height: 70vh;
}
